/* inter-300 - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-display: block;
  src: local("Inter Light"), url("../fonts/inter/inter-300.woff2") format("woff2"),
    url("../fonts/inter/inter-300.woff") format("woff");
}

/* inter-regular - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: local("Inter"), url("../fonts/inter/inter-regular.woff2") format("woff2"),
    url("../fonts/inter/inter-regular.woff") format("woff");
}

/* inter-500 - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-display: block;
  src: local("Inter Medium"), url("../fonts/inter/inter-500.woff2") format("woff2"),
    url("../fonts/inter/inter-500.woff") format("woff");
}

/* inter-600 - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-display: block;
  src: local("Inter Semibold"), url("../fonts/inter/inter-600.woff2") format("woff2"),
    url("../fonts/inter/inter-600.woff") format("woff");
}

/* inter-700 - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-display: block;
  src: local("Inter Bold"), url("../fonts/inter/inter-700.woff2") format("woff2"),
    url("../fonts/inter/inter-700.woff") format("woff");
}

/* inter-800 - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-display: block;
  src: local("Inter Extrabold"), url("../fonts/inter/inter-800.woff2") format("woff2"),
    url("../fonts/inter/inter-800.woff") format("woff");
}

/* inter variable - latin */
@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: block;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url("../fonts/inter/inter.var.woff2") format("woff2");
}

@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: block;
  font-style: italic;
  font-named-instance: 'Italic';
  src: url("../fonts/inter/inter.var.woff2") format("woff2");
}
