// Modern normalizer
@import "normalize";

// All fonts
@import "fonts";

// Main bootstrap
@import "bootstrap/bootstrap";

// FontAwesome
@import "fontawesome/fontawesome";
@import "fontawesome/regular";
@import "fontawesome/brands";
@import "fontawesome/solid";

// Colors
@import "colors";

// Custom items
@import "custom";