{{ define "main" }}
<main class="post pt-5">
  <div class="container-fluid">
      <div class="container">
        <div class="row">
          <div class="offset-xl-1 col-xl-6 offset-lg-1 col-lg-8 col-md-12 col-12">
            <h1 class="post-title mb-3">{{ .Title }}</h1>
            <p class="subtitle mb-3">{{ .Page.Params.subtitle }}</p>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row py-5 justify-content-center">
          <div class="col-lg-10 col-md-12 col-12 px-lg-0 px-3">
            <div class="row">
              {{ range where .Site.RegularPages "Type" "clients" }}
                <div class="col-xl-4 col-md-6 col-12 pb-md-4 pb-3 px-lg-4 px-2">
                    <p class="client-title">{{ .Page.Params.name }}</p>
                    <p class="client-description">{{ .Content | plainify }}</p>
                </div>
              {{ end }}
            </div>
          </div>
        </div>
    </div>
  </div>
  
  {{ partial "testimonials" . }}
  {{ partial "call" . }}
  
</main>
{{ end }}