<div class="container-fluid px-sm-3 px-0 pt-5 background-gray-50">
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-xl-5 col-lg-7 col-12 px-sm-3 px-0">
                <div class="cta-card py-5">
                    <h2>{{ i18n "helpProject" }}</h2>
                    <a class="arrow-link" href="mailto:hello@ura.design">{{ i18n "contactUs" }} {{ partial "fontawesome.html" "solid/arrow-right" }}</a>
                </div>
            </div>
        </div>
    </div>
</div>