<footer class="py-4 mt-auto">
  <div class="container-fluid">
    <div class="container">
      <div class="row d-none d-lg-flex justify-content-between">
        <nav class="navbar navbar-expand-lg">
          <div class="navbar-collapse" id="footerNav">
            <ul class="navbar-nav">
              {{- $firstUrlElement := print "/" (index (split .RelPermalink "/") 1) "/" -}}
              {{- range .Site.Menus.main -}}
              <li class="nav-item">
                <a class="nav-link {{ if eq ($firstUrlElement|lower) (.URL|lower) }}active{{ end }}" {{ if eq
                  ($firstUrlElement|lower) (.URL|lower) }}aria-current="page" {{ end }} href="{{ .URL | absLangURL }}">{{
                  .Name
                  }}</a>
              </li>
              {{ end }}
            </ul>
          </div>
          <div id="footerIcons">
            {{- with .Site.Params.social }}
            {{ partial "social-icons.html" . }}
            {{- end }}
          </div>
        </nav>
      </div>
      <div class="row py-0 py-lg-5 pt-lg-5 cta justify-content-between">
        <div class="col-xxl-4 col-xl-4 col-lg-4 col-12 pb-xl-0 pb-4">
          <h2>{{ i18n "letsTalk" }}:</h2>
          <a class="arrow-link" href="{{ "/contact" | absLangURL }}">{{ i18n "contact" }}{{ partial "fontawesome.html" "solid/arrow-right" }}</a>
        </div>
        <div class="col-xxl-4 col-xl-4 col-lg-4 col-12 pb-xl-0 pb-4">
          <h2>{{ i18n "getInvolved" }}:</h2>
          <a class="arrow-link" href="{{ "/research" | absLangURL }}">{{ i18n "researchPanel" }}{{ partial "fontawesome.html" "solid/arrow-right" }}</a>
        </div>
        <div class="col-xxl-4 col-xl-4 col-lg-4 col-12 pb-xl-0 pb-4">
          <h2>Pro-bono design:</h2>
          <a class="arrow-link" href="{{ "/probono" | absLangURL }}">{{ i18n "otf" }}{{ partial "fontawesome.html" "solid/arrow-right" }}</a>
        </div>
        <div class="col-xxl-3 col-xl-4 col-lg-4 col-12 pb-xl-0 pb-4 d-block d-lg-none">
          <h2>{{ i18n "weareOn" }}:</h2>
          <div class="pt-2">
            {{- with .Site.Params.social }}
            {{ partial "social-icons.html" . }}
            {{- end }}
          </div>
        </div>
      </div>
      <hr>
      <div class="row justify-content-between align-items-center">
        <div class="col-xxl-4 col-xl-12">
          <nav class="navbar navbar-expand-lg" aria-label="Secondary">
            <div class="navbar-collapse" id="footerLinks">
              <ul class="navbar-nav flex-row">
                {{- $firstUrlElement := print "/" (index (split .RelPermalink "/") 1) "/" -}}
                {{- range .Site.Menus.footer -}}
                <li class="nav-item">
                  <a class="nav-link {{ if eq ($firstUrlElement|lower) (.URL|lower) }}active{{ end }}" {{ if eq
                    ($firstUrlElement|lower) (.URL|lower) }}aria-current="page"{{ end }} href="{{ .URL | absLangURL }}">{{
                    .Name
                    }}</a>
                </li>
                {{ end }}
              </ul>
            </div>
          </nav>
        </div>
        <div class="col-xxl-8 col-xl-12 d-flex justify-content-xxl-end justify-content-start">
          <p class="copyright mb-0">© Ura Design {{ now.Year }}. {{ .Site.Copyright | markdownify }}</p>
        </div>
      </div>
    </div>
  </div>
</footer>

{{ partial "javascript.html" . }}

{{ $instant := resources.Get "js/instantpage.js" }}
{{ $instantpage := slice $instant | resources.Concat "instant.js" | resources.Minify }}
<script type="module" defer src="{{ $instantpage.RelPermalink }}"></script>