<header {{ if or (.IsHome) (eq .Page.Type "about") }}class="background-blue-500"{{ end }}>
    {{ if len .Site.Menus }}
    {{ partial "menu.html" . }}
    {{ end }}

    {{ if .IsHome }}
    <div class="container-fluid py-5 my-4 text-white">
        <div class="container">
            <div class="row home justify-content-lg-center justify-content-start py-lg-5 py-0">
                <div class="col-xl-6 col-lg-11 col-10">
                    <h1>{{ i18n "homeTitle" }}</h1>
                </div>
                <div class="col-xl-4 col-11 py-3">
                    <p>{{ i18n "homeSubtitle" }}</p>
                    <a href="{{ "/work/" | absLangURL }}">{{ i18n "ourWork" }} {{ partial "fontawesome.html" "solid/arrow-right" }}</a>
                </div>
            </div>
        </div>
    </div>
    {{ else if eq .Page.Type "about" }}
    <div class="container-fluid about background-blue-500 text-white py-5 mb-5">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 offset-xl-1 col-lg-8 col-12">
                    <h1 class="fw-light">{{ i18n "aboutTitle" }}</h1>
                    <p class="mb-0 fw-normal">{{ i18n "aboutSubtitle" }}</p>
                </div>
            </div>
        </div>
    </div>
    {{ else }}
    {{ end }}
</header>