<header {{ if or (.IsHome) (eq .Page.Type "about") (eq .Page.Type "probono") }}class="background-blue-500"{{ end }}>
    {{ if len .Site.Menus }}
    {{ partial "menu.html" . }}
    {{ end }}

    {{ if .IsHome }}
    <div class="container-fluid py-5 my-4 text-white">
        <div class="container">
            <div class="row home justify-content-lg-center justify-content-start py-lg-5 py-0">
                <div class="col-xl-6 col-lg-11 col-10">
                    <h1>{{ i18n "homeTitle" }}</h1>
                </div>
                <div class="col-xl-4 col-11 py-3">
                    <p>{{ i18n "homeSubtitle" }}</p>
                    <a href="{{ "/work/" | absLangURL }}">{{ i18n "ourWork" }} {{ partial "fontawesome.html" "solid/arrow-right" }}</a>
                </div>
            </div>
        </div>
    </div>
    {{ else if eq .Page.Type "about" }}
    <div class="container-fluid about background-blue-500 text-white py-5 mb-3">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 offset-xl-1 col-lg-8 col-12">
                    <h1 class="fw-light mb-4">{{ i18n "aboutTitle" }}</h1>
                    <p class="mb-0 fw-normal">{{ i18n "aboutSubtitle" }}</p>
                </div>
            </div>
        </div>
    </div>
    {{ else if eq .Page.Type "probono" }}
    <div class="container-fluid about background-blue-500 text-white py-5 mb-3">
        <div class="container">
            <div class="row">
                <div class="col-xl-5 offset-xl-1 col-lg-8 col-12">
                    <h1 class="fw-light mb-4">{{ i18n "otfTitle" }}</h1>
                    <p class="mb-0 fw-normal">{{ i18n "otfSubtitle" }}</p>
                </div>
            </div>
        </div>
    </div>
    {{ else if eq .Page.Type "research" }}
    <div class="container-fluid py-5 my-4">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 offset-xl-1 col-lg-8 col-12 mb-4 mb-lg-0">
                    <p class="mb-0 fw-normal text-uppercase">{{ i18n "researchLabel" }}</p>
                    <h1 class="fw-light mb-4">{{ i18n "researchTitle" }}</h1>
                    <p class="mb-4 fw-normal">{{ i18n "researchSubtitle" }}</p>
                    <a href="https://cloud.ura.design/apps/forms/embed/kdwCdKXFKmGKpQpeFzJKRRbK" class="see-more" target="_blank" rel="noopener noreferrer">{{ i18n "signUp" }}</a>
                </div>
                <div class="col-xl-4 offset-xl-2 col-lg-4 col-12">
                    <div class="row mb-3">
                        <div class="col-lg-2">
                            <p class="d-flex flex align-items-start justify-content-start fs-1 mb-2 mb-lg-0 color-blue-400">{{ partial "fontawesome.html" "light/user-plus" }}</p>
                        </div>
                        <div class="col-lg-10">
                            <p class="fs-5 fw-bolder mb-1">Sign up as a tester</p>
                            <p>Fill out your details and preferred contact information.</p>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-lg-2">
                            <p class="d-flex flex align-items-start justify-content-start fs-1 mb-2 mb-lg-0 color-blue-400">{{ partial "fontawesome.html" "light/object-intersect" }}</p>
                        </div>
                        <div class="col-lg-10">
                            <p class="fs-5 fw-bolder mb-1">Match with projects</p>
                            <p>We'll reach out to you with user research opportunities that match you.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-2">
                            <p class="d-flex flex align-items-start justify-content-start fs-1 mb-2 mb-lg-0 color-blue-400">{{ partial "fontawesome.html" "light/treasure-chest" }}</p>
                        </div>
                        <div class="col-lg-10">
                            <p class="fs-5 fw-bolder mb-1">Get rewarded</p>
                            <p>Participate in research sessions and receive a gift card as a thank you.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ else }}
    {{ end }}
</header>