<noscript>
    <style>
        @media (prefers-color-scheme: dark) {
            :root #fader {
                background: #121212;
            }

            :root * {
                background: #121212 !important;
                color: rgba(255, 255, 255, 0.87) !important;
            }

            :root a:not(.nav-link, .see-more) {
                text-decoration: underline;
            }

            :root .screen-reader-text:focus {
                background-color: #ecc781;
            }

            :root .logo {
                fill: #ecc781 !important;
            }

            :root a {
                color: #ecc781 !important;
                border-color: #ecc781;
            }

            :root .inline-svg svg path {
                color: #ecc781 !important;
            }

            :root .acctoggle:hover,
            :root .acctoggle:focus-visible,
            :root .acctoggle:focus {
                border: 2px solid #ecc781;
            }

            :root .tablinkservice:hover {
                color: #ecc781 !important;
                border-left-color: #ecc781;
            }

            :root .tablinkservice:focus-visible {
                border-left: 0.2rem solid #ecc781 !important;
            }

            :root .active {
                color: #ecc781 !important;
                border-left-color: #ecc781;
            }

            :root .carousel-dark .carousel-indicators [data-bs-target] {
                border-color: #ecc781;
            }

            :root .carousel-dark .carousel-indicators [data-bs-target]:hover {
                background-color: #ecc781 !important;
            }

            :root .carousel-dark .carousel-indicators [data-bs-target].active {
                background-color: #ecc781 !important;
            }

            :root .button-filter {
                color: #ecc781 !important;
            }

            :root .button-filter:after {
                background: #ecc781 !important;
            }

            :root .carousel-control-next path {
                fill: #ecc781 !important;
            }

            :root .home a {
                text-decoration: none !important;
            }
        }

        #expertise {
            display: block !important;
        }

        .services {
            background: none !important;
        }

        #services {
            display: none !important;
        }

        #theme-toggle {
            display: none !important;
        }

        .work {
            display: block !important;
        }

        #work-filter {
            display: none !important;
        }
    </style>
</noscript>